.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
  width: 100vw;
}

.header {
  display: grid;
  grid-column: 1 / 3;
  height: 64px;
  padding: 0 !important;
}
.content {
  display: grid;
  min-height: 280px;
  height: 100%;
  padding: 24px;
  background: #fff;
}

.center {
  margin: 12px;
  box-shadow: 0 2px 8px grey;
}

.footer {
  display: grid;
  grid-column: 1 / 3;
  justify-items: center;
}
