.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
  width: 100vw;
}

.header {
  display: grid;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: min-content auto min-content;
  height: 64px;
  padding: 0 !important;
  background: inherit !important;
}
.content {
  display: grid;
  min-height: 280px;
  height: 100%;
  padding: 24px;
}

.center {
  margin: 12px;
}

.footer {
  display: grid;
  grid-column: 1 / 3;
  justify-items: center;
}
